################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AuthApi/.vs
/AuthApi/obj
/AuthApi/bin
